body{
    text-align: center;
}

.btn{
    height: 150px;width: 150px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.red{
    background-color: rgb(194, 74, 74);
}
.green{
    background-color: rgb(90, 162, 90);
}
.yellow{
    background-color: rgb(239, 239, 105);
}
.purple{
    background-color: rgb(205, 99, 205);
}
.keyflash{
    background-color: white;
}
.userflash{
    background-color: red;
}